/* PostItem */
.Post_Wrapper{
    box-sizing: border-box;

    border-radius: 6px;
    /* background-color: white; */
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    width: 150px;
    height: 101px;
    padding: 16px;
    /* margin-left: 8px; */

    float: left;
    cursor: pointer;
    overflow: hidden;

    color: #C2C2C2;
    font-size: 12px;
    /* font-weight: 150; */

    display: flex;
    flex-direction: column;
    Justify-content: space-between;

    transition: all ease 0.5s;
}

.Post_Wrapper h3 {
   /* margin-top: 0px; */
   line-height: 1.5;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.Post_Wrapper p{
    /* color: #C2C2C2; */
    margin: 0px;
    font-size: 8px;
    font-weight: 150;
    vertical-align: bottom;
    bottom: 0;
    left: 0;
    
}

.Post_Wrapper:hover{
    background-color:rgb(232, 232, 232);

    color:#F0848D;
}


/* PostList */
.PostList_Wrapper{
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    align-content: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 24px;
    flex: 3;

}
  
.PostList_Wrapper > *:not(:last-child) {
    margin-bottom: 16px;
}

/* CommentItem */
.Comment_Wrapper{
    /* width: calc(100% - 32px); */
    height: 28px;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    /* background: #FFFFFF; */
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    cursor: pointer;
    margin-bottom: 8px;

    font-size: 12px;
    white-space: pre-wrap;
}

.Comment_Wrapper:hover{
    background: rgba(211, 211, 211, 0.379);
}

/* .Comment_Content{
    background-color: #FFFFFF;
    font-size: 12px;
    white-space: pre-wrap;
} */

/* CommentList */
.CommentList_Wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.CommentList_Wrapper > *:not(:last-child) {
    margin-bottom: 16px;
}